<div class="navbar-container">
    <header class="navbar-container">
        <img src="assets/logo.png" alt="logo" class="logo">
        <nav>
            <ul class="nav__links">
                <li><a (click)="goToHome()">Home</a></li>
                <li><a (click)="goToViewGuides()">View Guides</a></li>
                <li><a (click)="goToCheckStats()">Check Stats</a></li>
                <li><a (click)="goToCompareAccounts()">Compare Accounts</a></li>
                <li><a (click)="goToViewLeaderboard()">View Leaderboard</a></li>
                <li><a (click)="goToLatestPatch()">Latest Patch Notes</a></li>
                <li><a (click)="goToLinkAccount()">Link Account</a></li>
                <li><a (click)="goToLogin()">Log Out</a></li>
            </ul>
        </nav>
    </header>
</div>
