@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.navbar-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  background-color: white;
}

li, a{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(124, 153, 231);
  text-decoration: none;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.logo{
    cursor: pointer;
    display: block;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
.logo:hover{
  transition: ease-in-out 100ms;
  transform: scale(1.1);
}

.nav__links{
  list-style: none;
}

.nav__links li{
  cursor: pointer;
  display: inline-block;
  margin-top: 1%;
  padding: 0px 39px;
}

.nav__links li a{
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
  color: rgb(66, 84, 133);
}