@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*, *::before, *::after{
  font-family: "Montserrat", sans-serif;
}
.home-text{
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
    background: rgb(65,105,225);
    padding: .5rem;
  }
.select-regions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    margin-top: -15px;
}
  .selector-body{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    padding-right: 2rem;
    font-family: "Montserrat", sans-serif;
  }

  select{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-image: none;
    background: rgb(124, 153, 231);
    border-radius: 15px;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
 select:hover{
  transition: .25s all ease;
  background-color: rgb(142, 163, 221);
 }
  select::-ms-expand{
    display: none;
  }

  .select{
    outline: none;
    position: relative;
    display: flex;
    width: 20em;
    height: 2em;
    line-height: 2;
    background: rgb(124, 153, 231);
    border-radius: 10px;
  }

  .select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
    background: rgb(119, 138, 192);
    color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .select:hover::after{
    color: rgb(124, 153, 231);
  }

  .introduce-name-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 1rem;
  }

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: rgb(124, 153, 231);

h1,h2,h3,h4,h5,h6 {
  margin:0;
}

.tabels-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.table-container{
  padding: 1rem;
  max-width: 50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.table {
  width:100%;
  font-family: "Montserrat", sans-serif;
}

.table-text{
  min-width: 691.19px;
  color: white;
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  background:rgb(65,105,225);
  margin-bottom: -2px;
}
.table-header {
  min-width: fit-content;
  display:flex;
  width:100%;
  background:rgb(23, 41, 95);
  padding:($half-spacing-unit * 1.5) 0;
  border: .5px solid white;
}

.table-row {
  min-width: 691.19px;
  cursor: pointer;
  border: .5px solid white;
  display:flex;
  width:100%;
  padding:($half-spacing-unit * 1.5) 0;
  color: white;
  &:nth-of-type(odd) {
    background:rgba(124, 153, 231, 0.4);
  }
  &:nth-of-type(even){
    background: rgba(65,105,225, 0.4);
  }
}

.table-row:hover{
  transition: .35s all ease;
  background-color: rgb(23, 41, 95);
  color: rgb(164, 180, 224);
}




.table-header-red {
  min-width: fit-content;
  display:flex;
  width:100%;
  background:rgb(95, 23, 23);
  padding:($half-spacing-unit * 1.5) 0;
  border: .5px solid white;
}

.table-row-red {
  min-width: 691.19px;
  cursor: pointer;
  border: .5px solid white;
  display:flex;
  width:100%;
  padding:($half-spacing-unit * 1.5) 0;
  color: white;
  &:nth-of-type(odd) {
    background:rgba(231, 124, 124, 0.4);
  }
  &:nth-of-type(even){
    background: rgba(225, 65, 65, 0.4);
  }
}

.table-row-red:hover{
  transition: .35s all ease;
  background-color: rgb(95, 23, 23);
  color: rgb(224, 164, 164);
}




.table-header-green {
  min-width: fit-content;
  display:flex;
  width:100%;
  background:rgb(23, 95, 29);
  padding:($half-spacing-unit * 1.5) 0;
  border: .5px solid white;
}

.table-row-green {
  min-width: 691.19px;
  overflow: hidden;
  cursor: pointer;
  border: .5px solid white;
  display:flex;
  width:100%;
  padding:($half-spacing-unit * 1.5) 0;
  color: white;
  &:nth-of-type(odd) {
    background:rgba(128, 231, 124, 0.4);
  }
  &:nth-of-type(even){
    background: rgba(70, 225, 65, 0.4);
  }
}

.table-row-green:hover{
  transition: .35s all ease;
  background-color: rgb(29, 95, 23);
  color: rgb(164, 224, 169);
}




.table-data, .header__item {
  opacity: 1;
  flex: 1 1 20%;
  text-align:center;
}

.header__item {
  text-transform:uppercase;
}

.filter__link {
  color:white;
  text-decoration: none;
  position:relative;
  display:inline-block;
  padding-left:$base-spacing-unit;
  padding-right:$base-spacing-unit;
  
  &::after {
    content:'';
    position:absolute;
    right:-($half-spacing-unit * 1.5);
    color:white;
    font-size:$half-spacing-unit;
    top: 50%;
    transform: translateY(-50%);
  }
  
  &.desc::after {
    content: '(desc)';
  }

  &.asc::after {
    content: '(asc)';
  }
}

.summoner-not-found-text{
  color: red;
  text-align: center;
}

// variables
$background: #f5f6fa;
$text: #ffffff;
$input-bg-color: #fff;
$input-text-color: #ffffff;
$button-bg-color: rgb(65,105,225);
$button-text-color: #fff;

// button
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  :focus{
    outline: none;
  }

  &--primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 23px 17px;

    &:hover {
      background: rgb(23, 41, 95);
      color: rgb(143, 163, 224);
      outline: none;
    }

    &:active {
      outline: none;
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }
  }

  &--inside {
    outline: none;
    margin-left: 0;
    margin-top: -3px;
  }
}

//** form
.form {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  &__field {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    width: 360px;
    background: #fff;
    color: rgb(114, 114, 114);
    font: inherit;
    border: 0;
    outline: 0;
    padding: 23px 17px;
  }
}

.container-compare-accounts{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  :focus{
    outline: none;
  }

  &--primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: 23px 17px;

    &:hover {
      background: rgb(23, 41, 95);
      color: rgb(143, 163, 224);
      outline: none;
    }

    &:active {
      outline: none;
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
    }
  }

  &--inside {
    outline: none;
    margin-left: 0;
    margin-top: -3px;
  }
}